
<!DOCTYPE html>
<html>
<head>
<title>Splatoon OT - NeoGAF</title>
<meta charset="ISO-8859-1" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="apple-touch-icon-precomposed" href="http://m.neogaf.com/themes/Default/images/apple-touch-icon.png">
<link rel="apple-touch-icon" href="http://m.neogaf.com/themes/Default/images/apple-touch-icon.png">
<style type="text/css">
	@import "http://m.neogaf.com/themes/Default/global.css?08";
	body { font-size: 100%};
</style>
<script type="text/javascript" src="http://m.neogaf.com/themes/Default/global.js?08"></script>
</head>
<body id="thread">
	<div id="header">
<div id="headerMenuButton" onclick="showHideMenu('header'); event.cancelBubble = true;"><span>Menu</span></div>
		<div id="headerArrowDown" onclick="window.scrollTo(0, 1000000);"></div>
		<a id="headerLogo" href="forumdisplay.php?f=2" onclick="event.cancelBubble = true;"><span>Logo</span></a>
		<div id="headerText" onclick="window.scrollTo(0, 1000000);">
			<p id="headerTitle" ><span>Splatoon OT</span></p>
			<p id="headerSubTitle"><span>Page 1 of 1</span></p>
		</div>
	</div>
	<div id="mainContent">
		<div id="headerMenu" style="display: none;">
			<form id="headerMenuSearchForm" action="search.php" type="post">
				<input type="hidden" name="do" value="process">
				<input type="hidden" name="quicksearch" value="1">
				<input type="hidden" name="childforums" value="1">
				<input type="hidden" name="exactname" value="1">
				<input type="hidden" name="s" value="">
				<input type="hidden" name="securitytoken" value="1425841476-1345e0009170fd8580782ba320b7f57aa89335af">
				<input id="headerMenuSearchField" type="text" name="query" value="Search&hellip;" onfocus="this.value = '';">
				<a id="headerMenuSearchAdvanced" href="search.php"><span>Advanced</span></a>
			</form>
			<div id="jumpToButtons">
				<a id="jumpToGaming" class="jumpTo selected" href="forumdisplay.php?f=2"><span>Gaming</span></a>
				<a id="jumpToOffTopic" class="jumpTo" href="forumdisplay.php?f=3"><span><strong style="white-space: nowrap;">Off-Topic</strong></span></a>
				<a id="jumpToGamingCommunity" class="jumpTo" href="forumdisplay.php?f=8"><span>Gaming<br>Community</span></a>
				<a id="jumpToOffTopicCommunity" class="jumpTo" href="forumdisplay.php?f=20"><span><strong style="white-space: nowrap;">Off-Topic</strong><br>Community</span></a>
				<a id="jumpToSubscribed" class="jumpTo" href="subscribed.php"><span>Subscribed</span></a>
				<a id="jumpToMessages" class="jumpTo" href="private.php"><span> Messages</span></a>
				<a id="jumpToPrefs" class="jumpTo" href="prefs.php"><span>Preferences</span></a>
				<a id="jumpToLogIn" class="jumpTo" href="login.php?do=logout"><span>Log Out</span></a>
			</div>
 		</div>

	<!-- NeoGAF_mobile_top -->
	<div id='div-gpt-ad-1359362352867-1'>
	</div>
	<div class="post" id="post154314770">
		<div class="author">
			<div class="quoteButtons">				<a href="compose.php?do=postreply&t=1002518&p=154314770&page=1" class="replyQuotes"><span>Update Post</span></a>
				<div id="multiQuote154314770" class="multiQuote " onclick="multiQuote('154314770');"><span>Multi-Quote</span></div>
			</div>
			<div class="authorAvatar"><a href="member.php?u=28863"><img src="http://assets.neogafllc.netdna-cdn.com/forum/image.php?u=28863&amp;dateline=1425715936" alt="Johnny Gaffleseed" border="0"></a></div>
			<p class="authorName "><a href="member.php?u=28863"><span>Johnny Gaffleseed</span></a></p>
			<p class="authorTag ">Member</p>
			<p class="postTimestamp ">03-02-2015, 10:29 PM, <a href="showpost.php?p=154314770">Post #1</a>	</p>
		</div>
		<div class="postTitle">Splatoon OT</div>
		<div class="message">
			<%- content %>
		</div>
	</div>
	<div id="newposts"></div>
	<div class="pagination">
		<div class="prevButton"><span>Prev Page</span></div>
		<a class="composeButton" href="compose.php?do=postreply&t=1002518&noquote=1&p=154314770&page=1"><span>New Reply</span></a>
		<a id="refreshButton" class="refreshButton" href="#" onclick="updateThread('showthread.php?t=1002518&page=1&lastpost=1'); return false;"><span>Refresh</span></a>
	</div>
	<form id="gotoPageForm" action="#" onsubmit="gotoPage('showthread.php?t=1002518', document.getElementById('gotoPageFormInput').value); return false;" style="display: none;">
	<input id="gotoPageFormInput" type="number" pattern="[0-9]*" onchange="gotoPage('showthread.php?t=1002518', this.value);">
	<input id="gotoPageFormSubmit" type="submit" name="submit" value="Go">
	</form>


        <!-- NeoGAF_mobile_bottom -->
	<div id='div-gpt-ad-1359362352867-0'>
	</div>
	<div id="footer" onclick="window.scrollTo(0, 1);">
<a id="footerButtonCustom" href="subscribed.php?do=addsubscription&t=1002518&page=1" onclick="event.cancelBubble = true;"><span>Tools</span></a>
		<div id="footerArrowUp"></div>
		<a id="footerLogo" href="forumdisplay.php?f=2" onclick="event.cancelBubble = true;"><span>Logo</span></a>
		<p id="footerTitle">Page 1 of 1</p>
	</div>
</body>
</html>